.score-board {
  margin-top: 2vh;
  background-color: beige;
  border-radius: 15px;
}
.shadow-selected {
  box-shadow: 2rem 2rem 2rem rgba(129, 36, 94, 0.8) !important;
}
#submit-btn {
  border-radius: 3px;
  border: none;
  background-color: #ff6b6b;
  color: white;
  transition: 0.3s ease-in-out;
}
#submit-btn:hover {
  transform: scale(1.1);
}
